* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    -azul-final-background: #8087d9;
    -azul-inicial-background: #8edfe3;
    --branco: #ffffff;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #8edfe3, #8087d9);

}

.card-gallery {
    width: 80%;
    height: 60vh;
    margin: 3rem auto;
    border: 20px solid var(-branco);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    width: 300px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    
}
.card a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    background-color: #8087d9;
    display: block;
    border-radius: 5PX;
    padding: 0.5rem;
}


.card-image img {
    margin: 0 auto;
    width: 100%;
    height: 30vh;
    /* object-fit: cover; */

}
.card-text{
    text-align: justify;
    color:#40434d;
}
.card-text h3{
    text-align: start;
    margin:1rem 1rem 1rem 0;
}
.card-footer span{
    margin: 20px;

}